<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prove 01</title>
</head>

<body>
    <h1>Assignment Prove 01</h1>

    Hi, my name is <%= input1 %>! <br><br>
    I am <%= input2 %> years old, my major is <%= input3 %>, and something very unique about me is that: <br><br>

    <h2><%= input4 %></h2>
</body>

</html>