<form action="/pr01/submit" method="POST">
    Name: <input type="text" name="input1">
    <br>
    Age: <input type="text" name="input2">
    <br>
    Major: <input type="text" name="input3">
    <br>
    Something Unique About Me: <input type="text" name="input4">

    <button type="submit">Submit Form</button>
</form>